fastapi
uvicorn[standard]
sqlmodel
psycopg[binary]
redis
celery
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
httpx
pandas
numpy
scikit-learn
joblib
transformers
torch
pyarrow

python-multipart
email-validator